<div class="intro">
  <article class="intro-box">
    <div class="intro-background">
      <brand-logo></brand-logo>
    </div>

    <h1 class="intro-logo">
      <brand></brand>
    </h1>

    <p class="intro-body">
      Thank you for try out FloatBehind!<br>
      Please click "ninja icon" according to the Kunai arrow<img class="intro-kunai-inline" src="/images/ico-kunai.png">
      and login your Slack group.
    </p>
  </article>

  <img class="intro-kunai" src="/images/ico-kunai.png" width="222" height="192">
</div>
